<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Add Rented</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <style>
      .form-group {
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <h1 class="text-center mb-4">Add Rented</h1>
          <form
            action="#"
            th:action="@{/save-rented}"
            method="post"
            th:object="${rented}"
          >
            <label for="idRented">ID Rented</label>
            <input type="text" class="form-control" th:field="*{idRented}" />

            <div class="form-group">
              <label for="car">Id Car</label>
              <select
                id="car"
                name="car.idCar"
                class="form-control"
                th:field="*{car.idCar}"
              >
                <option value="">Pilih idCar</option>
                <option
                  th:each="s : ${car}"
                  th:value="${s.idCar}"
                  th:text="${s.idCar}"
                ></option>
              </select>
            </div>

            <div class="form-group">
              <label for="customer">Id Customer</label>
              <select
                id="customer"
                name="customer.idCustomer"
                class="form-control"
                th:field="*{customer.idCustomer}"
              >
                <option value="">Pilih id Customer</option>
                <option
                  th:each="s : ${customer}"
                  th:value="${s.idCustomer}"
                  th:text="${s.idCustomer}"
                ></option>
              </select>
            </div>
            <div class="form-group">
              <label for="rentalDate">Rental Date</label>
              <input
                type="datetime-local"
                class="form-control"
                th:field="*{rentalDate}"
              />
            </div>
            <div class="form-group">
              <label for="returnDate">Return Date</label>
              <input
                type="datetime-local"
                class="form-control"
                th:field="*{returnDate}"
              />
            </div>
            <input
              type="text"
              placeholder=" Payment Status"
              th:field="*{paymentStatus}"
              class="form-control mb-4 col-4"
            />
            <input
              type="number"
              placeholder="Total Biaya Status"
              th:field="*{tCost}"
              class="form-control mb-4 col-4"
            />
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Kirim</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <a th:href="@{/rented}">Back to Rented List</a>
  </body>
</html>
