<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .info-panel {
        box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        margin-top: -30px;
        background-color: white;
      }

      #total-biaya {
        width: 80%;
      }
      /*  */
      .lokasi-pengambilan {
        display: flex;
        align-items: center;
      }

      .lokasi-pengambilan h4 {
        margin-bottom: 0;
      }

      .biaya-tambahan {
        font-size: 12px;
        color: red;
      }
      .free {
        font-size: 12px;
        color: rgb(40, 151, 40);
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 info-panel">
          <form th:action="@{/calculate-total}" th:object="${rented}" method="post" onsubmit="">
            <div class="row">
              <p>Bandung Regency</p>
              <div class="col-lg-auto">
                <div class="text-muted">Tanggal dan Waktu Jemput</div>
                <input type="date" name="pickup_date" id="pickup_date" />
                <input type="time" name="pickup_time" id="pickup_time" />
              </div>
              <div class="col-lg-auto">
                <div class="text-muted">Tanggal dan Waktu Kembali</div>
                <input type="date" name="drop_off_date" id="drop_off_date" />
                <input type="time" name="drop_off_time" id="drop_off_time" />
              </div>
              <!-- <div class="col-lg">
                <div>Supir</div>
                <label class="text-muted"
                  ><input
                    type="radio"
                    name="supir"
                    value="dengan"
                    checked
                  />Dengan Supir</label
                >
                <br /><label class="text-muted"
                  ><input
                    type="radio"
                    name="supir"
                    value="dengan"
                    checked
                  />Tanpa Supir</label
                >
              </div> -->
            </div>
          </form>
        </div>
      </div>

      <div class="container">
        <!-- <label for="payment_status">Payment Status</label>
                <select th:field="*{paymentStatus}" class="form-control">
                    <option value="PAID">Paid</option>
                    <option value="UNPAID">Unpaid</option>
                </select> -->
      </div>
      <br />
      <div class="container">
        <div class="mb-2">
          <label for="total-biaya">Total Biaya</label>
          <input
            type="text"
            class="form-control"
            id="total-biaya"
            name="total_biaya"
            readonly
            th:value="${totalBiaya}"
          />
        </div>
        <div class="col-md-6 d-flex">
          <p class="text-muted me-3 mb-0">Termasuk semua biaya & pajak</p>
        </div>
        <br />
        <!-- <div class="mb-2">
                    <label for="payment-status">Payment Status</label>
                    <input
                    type="text"
                    class="form-control"
                    id="payment-status"
                    name="payment_status"
                    readonly
                    th:value="${rented.paymentStatus}"/>
                </div> -->
      </div>
    </div>

    <div class="container">
      <p class="card-text"><i class="bx bx-car"></i> Lokasi Pengambilan</p>
      <input
        type="radio"
        id="tempat-rental"
        name="tempat_pengambilan"
        checked
      />
      <label for="tempat-rental"> Kantor Rental</label>
      <span class="free">Gratis</span>
      <div>
        <input type="radio" id="tempat-lain" name="tempat_pengambilan" />
        <label for="tempat-lain">Tempat Lain</label>
        <span class="biaya-tambahan">Rp 20000</span>
      </div>
    </div>
    <div class="container">
      <p class="card-text"><i class="bx bx-car"></i> Lokasi Pengembalian</p>
      <input
        type="radio"
        id="tempat-rental"
        name="tempat_pengambilan"
        checked
      />
      <label for="tempat-rental"> Kantor Rental</label>
      <span class="free">Gratis</span>
      <div>
        <input type="radio" id="tempat-lain" name="tempat_pengambilan" />
        <label for="tempat-lain">Tempat Lain</label>
        <span class="biaya-tambahan">Rp 20000</span>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var pickupDateInput = document.getElementById("pickup_date");
        var pickupTimeInput = document.getElementById("pickup_time");
        var dropOffDateInput = document.getElementById("drop_off_date");
        var dropOffTimeInput = document.getElementById("drop_off_time");

        pickupDateInput.addEventListener("change", validateDateTime);
        pickupTimeInput.addEventListener("change", validateDateTime);
        dropOffDateInput.addEventListener("change", validateDateTime);
        dropOffTimeInput.addEventListener("change", validateDateTime);

        function validateDateTime() {
          var currentDate = new Date();
          var pickupDateTime = new Date(
            pickupDateInput.value + "T" + pickupTimeInput.value
          );
          var dropOffDateTime = new Date(
            dropOffDateInput.value + "T" + dropOffTimeInput.value
          );

          if (pickupDateTime < currentDate) {
            alert("Tanggal dan waktu jemput tidak boleh yang sudah lewat.");
            pickupDateInput.value = "";
            pickupTimeInput.value = "";
          }

          if (dropOffDateTime < currentDate) {
            alert("Tanggal dan waktu kembali tidak boleh yang sudah lewat.");
            dropOffDateInput.value = "";
            dropOffTimeInput.value = "";
          }

          if (dropOffDateTime < pickupDateTime) {
            alert(
              "Tanggal dan waktu kembali harus setelah tanggal dan waktu jemput."
            );
            dropOffDateInput.value = "";
            dropOffTimeInput.value = "";
          }
        }
      });
    </script>
  </body>
</html>
